<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FindMyPet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PetKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE077EF4195341EF003BFD8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE077F06195341EF003BFD8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE53352E1954646D00B94202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE5335381954646D00B94202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE53355F195468BC00B94202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE533569195468BC00B94202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
